.ex-06_drill {
	.text-input {
		margin-bottom: .5em !important;
	}
	a.button {
		margin-bottom: .5em !important;
	}
	.error-message {
		height: 300px;
		width: auto;
		margin: 0 auto;
		background: url('/assets/img/fix-it-bitch.jpg') no-repeat center center transparent;
		background-size: contain;
	}
	.input-field-valid {
		border-width: 5px !important;
	}
	.input-field-error-msg {
		color: red;
		font-size: .8125em;
		margin: 0;
		@extend .u-cf;
	}
	.test {
		border: solid 10px pink;
	}
}
